body {
    background-color: teal;
}

.img {
    width: 100%;
    height: 366px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px
}

.imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 27px;
    margin-top: 27px;
}

.img:last-child {
    margin-bottom: 30px;
}

.form {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

@media screen and (max-width: 1000px) {
    .imgs {
        grid-template-columns: repeat(1, 1fr);
    }

}